*{
	margin: 0;
}
body{
	background: #f8f8f8;
}
h1{
	text-align: center;
}
html, body {
  height: 100%;
}
.container{
	margin: 0 auto;
	width: 800px;
	min-height: 100%;
	margin-bottom: -142px;
}
.headerwrapper{
	/*-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;*/
	height: 100px;
	position: relative;
}
.logo{
	/*padding-top: 50px;
	padding-left: 50px;
	margin-bottom: -15px;*/
	float: left;
	position: absolute;
	bottom: 0;
}

/*Menu*/
#menu{
	position: absolute;
	bottom: 0;
	right: 0;
}
#menu a{ 
	color: #212121;
	background-color: #fc0;
	padding: 10px;
	appearance: button;
	text-decoration: none;
	color: initial;
}
#menu a:hover {
	background-color:  #ac0;
}
#menu a img{
	height: 28px;
	margin-top: -8px;
	margin-bottom: -8px;
	margin-right: 4px;
}
/*End Menu*/

/*Footer*/
#footer{
	background-color: #f3e5f5;
}
.container:after{
	content: "";
	display: block;
}
#footer, .container:after{
    height: 142px;
}
#footer-content{
	float: right;
	padding: 20px 30px;
}
/*End Footer*/

/*Товар*/
#clickable-table td:nth-child(2n){
	background-color: brown;
}

#clickable-table td{
	width: 40px;
	height: 40px;
	outline: 1px solid black;
}
#clickable-table td:hover{
	background-color: yellow;
}
#clickable-table td:active{
	background-color: green;
}
#clickable-table tr:first-child td{
	height: 20px;
}
#main{
	display: flex;
	justify-content: center;
}
#main #preview{
	min-width: 250px;
	max-width: 400px;
	margin-right: 100px;
}
#main 
#tovarimage{
	text-align:  center;
}
#tovarimage img{
	outline: none;
	border: none;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
	outline-offset: 5px;
	border-radius: 10px;
}
#tovarimage img:hover{
	background: #f8f8f8;
	box-shadow: none;
}
.pricing{
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
	border-radius: 10px;
	padding: 40px;
	margin: 40px 10px 40px 90px;
	text-align: right;
	height: 110px;
}
.column{
	width: 50%;
	height: 100%;
	float: left;
}
#price{
	font-size: 32px;
	float: bottom;
	margin-bottom: 10px;
}
#buybutton{
	appearance: button;
	text-decoration: none;
	color: initial;
	padding: 10px;
	background-color:  #fc0;
	font-size: 32px;
}
#buybutton:hover{
	background-color:  #ac0;
}
#buybutton:active{
	background-color:  #da0;
}
#main #description{
	width: 100%;
	border: 0px solid black;
	border-radius: 10px;
}
#main #description h3{
	color: #000;
	font: 18px;
	font-weight: 400;
	background: #eaeaea;
}
#short-description{
	color: #707070;
	font: 14px;
	font-style: italic;
	line-height: 16px;
}
#characteristics tr:before{
	content: "֍ ";
}
#characteristics td{
	color: #a06060;
	line-height: 19px;
	outline: 1px solid white;
}
#characteristics tr td:first-letter, #short-description:first-letter, #long-description:first-letter{
	text-transform: capitalize;
	color: green;
	font-size: 20px;
}
#long-description{
	color: #484343;
	font: 16px;
	font-weight: 400;
	line-height: 24px;
	text-align: left;
}
.rowbreak{
	clear: both;
}
/*END Товар*/


.position{/*Позиция каталога*/
	margin: 4px;
	border: 1px solid black;
	border-radius: 8px;
	width: 200px;
	height: 200px;
	text-align:  center;
	background: #fff;
	text-decoration: none;
}
input{
	text-transform: capitalize;
}
.input p{
	width: 100px;
}
.input input {
    background-color: #ffe;
    color: #003; 
	margin: 8px;
	width: 200px;
	height: 20px;
}
/*.input input:first-letter {
	text-transform: uppercase;
}*/
.input input[type=email]:focus{
    background-color: #ff9; /* Цвет фона */
    color: #009;
}